# Bỏ qua tệp cơ sở dữ liệu Scrapy
C:\Users\vuong\webscrapping\stock_company_scraper/stock_company_scraper/stock_events.db
C:\Users\vuong\webscrapping\stock_company_scraper\news.json
C:\Users\vuong\webscrapping\stock_company_scraper\stock_company_scraper\firebase-admin-key.json